html,
body {
  @apply h-full;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
#site-navigation {
  @apply font-serif;
} */

h1[contenteditable='true'] {
  @apply text-huge;
}

p a {
  @apply underline decoration-accent-default decoration-2 hover:decoration-secondary focus:decoration-secondary;
}

[aria-current='page'] {
  @apply underline decoration-accent-default decoration-2;
}

main {
  @apply flex-auto grid;
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-highlight;
}

::selection {
  @apply bg-highlight;
}

details[open] svg {
  @apply rotate-90 duration-500;
}

details svg {
  @apply duration-200;
}

/* Navigation fix for Safari */

#primary-menu li {
  @apply py-4 lg:py-0 lg:px-4;
}

#primary-menu li a {
  @apply hover:text-neutral-dark-100 focus:text-neutral-dark-100 text-sm;
}

hr {
  @apply border-black;
}

/* Tweak to post-template gap spacing as this cannot be adjusted yet via theme.json */

.wp-block-post-template.is-flex-container {
  @apply gap-12;
}

.wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li {
  width: calc(50% - 1.5rem);
}

.wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
  width: calc(33.33333% - 3rem);
}

.blockhaus-hero .wp-block-post-featured-image img {
  @apply aspect-hero;
}

blockquote {
  position: relative;
  z-index: 1;
}

blockquote:before {
  content: '';

  @apply inline-block border-accent-default border-double border-4 outline-4 outline-accent-default outline-double outline-offset-2 rounded-full absolute top-2 left-4 -z-0 aspect-square h-1/2 opacity-10;
}

ul.wp-block-post-template li {
  margin-block-start: 0;
}
