/* SETTING SOME DEFAULTS FOR FIGURE / FIGCAPTION */

address {
  @apply not-italic;
}

figure img {
  @apply object-cover;
}

figcaption {
  @apply px-2 text-center;
}

blockquote.is-style-default {
  @apply border-t border-b border-b-current border-t-current w-fit mx-auto p-6 text-center border-l-0;
}

blockquote.is-style-default p {
  @apply italic;
}

/* PROFILE BLOCK HOVER STYLES */

[class*='blockhaus'] .wp-block-button__link,
[class*='blockhaus'] .wp-block-read-more {
  @apply hover:ring-4 hover:ring-highlight focus:ring-4 focus:ring-highlight;
}

/* PSEUDO STYLES FOR LINKS */

.wp-block-button__link:active,
.wp-block-button__link:visited {
  color: var(--wp--preset--color--secondary);
}

/* Basic text shadow */

.blockhaus-text-shadow {
  text-shadow: rgb(0 0 0) 3px 0px 0px, rgb(0 0 0) 0.540302px 0.841471px 0px,
    rgb(0 0 0) -0.416147px 0.909297px 0px, rgb(0 0 0) -0.989992px 0.14112px 0px,
    rgb(0 0 0) -0.653644px -0.756802px 0px,
    rgb(0 0 0) 0.283662px -0.958924px 0px, rgb(0 0 0) 0.96017px -0.279415px 0px;
}

.blockhaus-gradient-bg {
  background-image: var(--wp--preset--gradient--gray-to-cyan);
}
