/* ADMIN STYLES */
:root {
  --wp--preset--color--accent-quarter: rgba(210 175 255 / 1);
  --wp--preset--color--accent-secondary: rgba(238 101 179 / 1);
  --wp--preset--color--accent-tertiary: rgba(167 217 212 / 1);
  --wp--preset--color--secondary: rgba(41 44 44 / 1);
  --wp--preset--color--offset: rgba(253 224 71 / 1);
  --wp--preset--color--highlight: rgba(64 206 229 / 1);
  --wp--preset--color--neutral-light-100: rgba(244 244 244 / 1);
  --wp--preset--color--neutral-light-900: rgba(200 200 200 / 1);
  --wp--preset--color--neutral-dark-100: rgba(35 41 41 / 1);
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}

.color-switcher .selected input[type='radio']:after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  outline: 4px solid hotpink;
  outline-offset: -1px;
}

/* bg-highlight
bg-accent-secondary
bg-accent-tertiary*/

.acf-label label {
  margin-bottom: 0.5rem;
}

.color-switcher .selected input[type='radio'][value='offset']:after {
  background-color: var(--wp--preset--color--offset);
}

.color-switcher .selected input[type='radio'][value='accent-quarter']:after {
  background-color: var(--wp--preset--color--accent-quarter);
}

.color-switcher .selected input[type='radio'][value='highlight']:after {
  background-color: var(--wp--preset--color--highlight);
}

.color-switcher .selected input[type='radio'][value='accent-secondary']:after {
  background-color: var(--wp--preset--color--accent-secondary);
}

.color-switcher .selected input[type='radio'][value='accent-tertiary']:after {
  background-color: var(--wp--preset--color--accent-tertiary);
}

.color-switcher input[type='radio'][value='offset'] {
  background-color: var(--wp--preset--color--offset);
}

.color-switcher input[type='radio'][value='accent-quarter'] {
  background-color: var(--wp--preset--color--accent-quarter);
}

.color-switcher input[type='radio'][value='highlight'] {
  background-color: var(--wp--preset--color--highlight);
}

.color-switcher input[type='radio'][value='accent-secondary'] {
  background-color: var(--wp--preset--color--accent-secondary);
}

.color-switcher input[type='radio'][value='accent-tertiary'] {
  background-color: var(--wp--preset--color--accent-tertiary);
}

.color-switcher input[type='radio'] {
  position: relative;

  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-switcher ul.acf-radio-list.acf-bl label {
  color: transparent;
  font-size: 1px;
  display: inline-flex !important;
}

.color-switcher ul.acf-radio-list.acf-bl {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.acf-postbox,
.postbox {
  border-radius: 6px;
  overflow: hidden;
}

.meta-box-sortables .postbox .toggle-indicator::before {
  content: '\f343';
  font-size: 18px;
  color: var(--wp--preset--color--secondary);
}

.meta-box-sortables .postbox.closed .handlediv .toggle-indicator::before {
  content: '\f347';
  font-size: 18px;
  color: var(--wp--preset--color--secondary);
}

.edit-post-meta-boxes-area #poststuff h2.hndle {
  padding: 0 16px !important;
}

.edit-post-meta-boxes-area .postbox .handlediv {
  width: 54px;
}

.handle-order-higher,
.handle-order-lower {
  display: none;
}

.toplevel_page_theme-options .wrap.acf-settings-wrap {
  color: var(--wp--preset--color--secondary);
}

a.components-button.edit-post-fullscreen-mode-close svg {
  display: none;
}

.edit-post-fullscreen-mode-close.components-button:before {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '\2190';
  font-size: 48px;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  color: var(--wp--preset--color--primary-default);
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu .wp-menu-name,
#adminmenu li.current a.menu-top {
  background: black;
}

#wp-admin-bar-wpforms-menu {
  display: none;
}

#adminmenu,
li#wp-admin-bar-my-account .ab-item,
li#wp-admin-bar-my-account .ab-item .display-name,
#wpadminbar,
#adminmenu div.wp-menu-name,
#wpadminbar #wp-admin-bar-site-name a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
.toplevel_page_theme-options,
#wpbody-content {
  font-family: 'Montserrat';
}

#wpadminbar {
  box-shadow: 0 1px 1px rgba(70, 70, 70, 0.12), 0 1px 1px rgba(70, 70, 70, 0.12),
    0 2px 2px rgba(70, 70, 70, 0.12), 0 4px 4px rgba(70, 70, 70, 0.12);
}

/* DASHBOARD WIDGETS */

#blockhaus_dashboard_widget .inside {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-content: center;
}

@media (min-width: 640px) {
  #blockhaus_dashboard_widget .inside {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  #blockhaus_dashboard_widget .inside {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.dashboard-card {
  padding: 3rem 1.5rem;
  border-radius: 3px;
  display: flex;
  border: 2px solid transparent;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  transition: 200ms;
}

.dashboard-card:not(.settings) {
  background: var(--wp--preset--color--accent);
}

.dashboard-card.settings {
  background: var(--wp--preset--color--secondary);
}

.dashboard-card p {
  margin: 0;
  font-size: 1.15rem;
  width: 65ch;
  margin-inline: auto;
  text-align: center;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-span-full p {
  color: var(--wp--preset--color--neutral-light-100);
}

.dashboard-card .number {
  font-size: 4rem;
  line-height: 0.75;
}

.dashboard-card .name {
  font-weight: 900;
}

.dashboard-card .post-type {
  text-transform: uppercase;
  font-weight: 900;
}

.dashboard-card .actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  width: 100%;
}

.dashboard-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: var(--wp--preset--color--neutral-light-100);
  padding-inline: 0.75rem;
  border-radius: 30px;
  padding-block: 0.25rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  border: 1px solid transparent;
  /* box-shadow: 0 4px 6px -1px var(--wp--preset--color--neutral-light-900),
    0 2px 4px -2px var(--wp--preset--color--neutral-light-900); */
  transition: 200ms;
}

.dashboard-card.settings a svg {
  width: 1.15rem;
  height: 1.15rem;
}

:not(.dashboard-card.settings) a svg {
  width: 1rem;
  height: 1rem;
}

.dashboard-card a:hover,
.dashboard-card a:focus {
  background: transparent;
  border-color: currentColor;
}

.dashboard-card.settings a:hover,
.dashboard-card.settings a:focus {
  background: transparent;
  color: var(--wp--preset--color--neutral-light-100);
  border-color: var(--wp--preset--color--neutral-light-100);
}

#dashboard-widgets .hndle.ui-sortable-handle {
  text-transform: uppercase;
}

#wpbody-content #dashboard-widgets .postbox-container {
  width: 100% !important;
}
