/* ADMIN STYLES */
:root {
  --wp--preset--color--accent: rgba(110 231 183 / 1);
  --wp--preset--color--secondary: rgba(50 64 64 / 1);
  --wp--preset--color--neutral-light-100: rgba(244 244 244 / 1);
  --wp--preset--color--neutral-light-900: rgba(200 200 200 / 1);
  --wp--preset--color--neutral-dark-100: rgba(35 41 41 / 1);
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}

.acf-postbox,
.postbox {
  border-radius: 6px;
  overflow: hidden;
}

.meta-box-sortables .postbox .toggle-indicator::before {
  content: '\f343';
  font-size: 18px;
  color: var(--wp--preset--color--secondary);
}

.meta-box-sortables .postbox.closed .handlediv .toggle-indicator::before {
  content: '\f347';
  font-size: 18px;
  color: var(--wp--preset--color--secondary);
}

.edit-post-meta-boxes-area #poststuff h2.hndle {
  padding: 0 16px !important;
}

.edit-post-meta-boxes-area .postbox .handlediv {
  width: 54px;
}

.handle-order-higher,
.handle-order-lower {
  display: none;
}

.toplevel_page_theme-options .wrap.acf-settings-wrap {
  color: var(--wp--preset--color--secondary);
}

a.components-button.edit-post-fullscreen-mode-close svg {
  display: none;
}

.edit-post-fullscreen-mode-close.components-button:before {
  inset: 0;
}

.block-editor a.components-button.edit-post-fullscreen-mode-close {
  background: url('/wp-content/themes/blockhaus/screenshot.png') #101f34;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.block-editor .edit-post-header :not(.dashboard-card.settings) a:hover,
.block-editor .edit-post-header :not(.dashboard-card.settings) a:focus {
  background: url('/wp-content/themes/blockhaus/screenshot.png') #101f34 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  opacity: 0.85;
}

/* .wp-core-ui .button-primary {
  background-color: var(--wp--preset--color--secondary);
  border-color: currentColor;
}

.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
  background-color: rgba(0 4 4 / 1);
  border-color: currentColor;
} */

/* #adminmenu a:hover,
#adminmenu a:hover div.wp-menu-image:before {
  color: var(--wp--preset--color--neutral-light-100) !important;
}

#wpadminbar .ab-icon:before,
#adminmenu div.wp-menu-image:before,
#adminmenu div.wp-menu-name,
#adminmenu .wp-has-current-submenu div.wp-menu-image:before,
.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item:before,
#wpadminbar #wp-admin-bar-site-name a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label {
  color: var(--wp--preset--color--accent);
} */

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu .wp-menu-name,
#adminmenu li.current a.menu-top {
  background: black;
}

#wp-admin-bar-wpforms-menu {
  display: none;
}

#adminmenu,
li#wp-admin-bar-my-account .ab-item,
li#wp-admin-bar-my-account .ab-item .display-name,
#wpadminbar,
#adminmenu div.wp-menu-name,
#wpadminbar #wp-admin-bar-site-name a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
.toplevel_page_theme-options,
#wpbody-content {
  font-family: 'Montserrat';
}

#wpadminbar {
  box-shadow: 0 1px 1px rgba(70, 70, 70, 0.12), 0 1px 1px rgba(70, 70, 70, 0.12),
    0 2px 2px rgba(70, 70, 70, 0.12), 0 4px 4px rgba(70, 70, 70, 0.12);
}

/* DASHBOARD WIDGETS */

#blockhaus_dashboard_widget .inside {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-content: center;
}

@media (min-width: 640px) {
  #blockhaus_dashboard_widget .inside {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  #blockhaus_dashboard_widget .inside {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.dashboard-card {
  padding: 3rem 1.5rem;
  border-radius: 3px;
  display: flex;
  border: 2px solid transparent;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  transition: 200ms;
}

.dashboard-card:not(.settings) {
  background: var(--wp--preset--color--accent);
}

.dashboard-card.settings {
  background: var(--wp--preset--color--secondary);
}

.dashboard-card p {
  margin: 0;
  font-size: 1.15rem;
  width: 65ch;
  margin-inline: auto;
  text-align: center;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-span-full p {
  color: var(--wp--preset--color--neutral-light-100);
}

.dashboard-card .number {
  font-size: 4rem;
  line-height: 0.75;
}

.dashboard-card .name {
  font-weight: 900;
}

.dashboard-card .post-type {
  text-transform: uppercase;
  font-weight: 900;
}

.dashboard-card .actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  width: 100%;
}

.dashboard-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: var(--wp--preset--color--neutral-light-100);
  padding-inline: 0.75rem;
  border-radius: 30px;
  padding-block: 0.25rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  border: 1px solid transparent;
  /* box-shadow: 0 4px 6px -1px var(--wp--preset--color--neutral-light-900),
    0 2px 4px -2px var(--wp--preset--color--neutral-light-900); */
  transition: 200ms;
}

.dashboard-card.settings a svg {
  width: 1.15rem;
  height: 1.15rem;
}

:not(.dashboard-card.settings) a svg {
  width: 1rem;
  height: 1rem;
}

.dashboard-card a:hover,
.dashboard-card a:focus {
  background: transparent;
  border-color: currentColor;
}

.dashboard-card.settings a:hover,
.dashboard-card.settings a:focus {
  background: transparent;
  color: var(--wp--preset--color--neutral-light-100);
  border-color: var(--wp--preset--color--neutral-light-100);
}

#dashboard-widgets .hndle.ui-sortable-handle {
  text-transform: uppercase;
}

#wpbody-content #dashboard-widgets .postbox-container {
  width: 100%;
}
