@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('../assets/fonts/Montserrat-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../assets/fonts/Montserrat-Italic.woff') format('woff');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: local(''),
      url('../assets/fonts/Montserrat-BoldItalic.woff') format('woff');
  }

  /* merriweather-regular - latin
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('../assets/fonts/merriweather-v30-latin-regular.woff2')
        format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+
        url('../assets/fonts/merriweather-v30-latin-regular.woff')
        format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
  }
  /* merriweather-900 - latin
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: local(''),
      url('../assets/fonts/merriweather-v30-latin-900.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+
        url('../assets/fonts/merriweather-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ 
  }
   */

  html,
  body {
    @apply h-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #site-navigation {
    @apply font-serif;
  }

  h1[contenteditable='true'] {
    @apply text-5xl;
  }

  [aria-current='page'] {
    @apply underline decoration-emerald-300 decoration-4;
  }

  main {
    @apply flex-auto grid;
  }

  ::-moz-selection {
    /* Code for Firefox */
    @apply bg-emerald-300;
  }

  ::selection {
    @apply bg-emerald-300;
  }
}

@layer components {
  figure img {
    @apply object-cover;
  }

  figcaption {
    @apply px-2 text-center;
  }
}

/* PSEUDO STYLES FOR LINKS */

.wp-block-button__link:active,
.wp-block-button__link:visited {
  color: var(--wp--preset--color--secondary);
}

/* FRONT PAGE */

.blockhaus-gallery
  .wp-block-gallery.has-nested-images
  figure.wp-block-image
  figcaption {
  @apply bg-white bg-none p-1 text-gray-900;
}

[class*='blockhaus-profile'] img {
  @apply w-full md:w-auto;
}

[class*='blockhaus-quote'] cite {
  @apply bg-emerald-300 px-1 max-w-fit -rotate-1;
}

.blockhaus-search input[type='search'] {
  @apply py-1 px-4 border border-current shadow-retro focus-visible:outline-none focus-visible:ring-emerald-300 focus-visible:ring-4;
}

.blockhaus-search label {
  @apply sr-only;
}

.blockhaus-search button {
  @apply shadow-retro border border-current;
}

.grain-dots {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230f0f0f' fill-opacity='.25' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

iframe {
  @apply border-[6px] border-white rounded-md mx-auto;
}

@media (max-width: 640px) {
  iframe {
    @apply h-full;
  }
}

.impact {
  @apply border-[6px] border-blue-600 -rotate-2;
}

.impact-content h1 {
  line-height: 1.15;
}

.impact-content {
  background: rgb(253 224 71 / 1);
  margin-left: -3rem !important;
  padding: 1.5rem;
  z-index: 1;
}

/* .post-template-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  list-style-type: none;
} */

.post-template-grid li {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
}

.post-template-grid li a {
  @apply inline-flex px-2 py-1;
}

.post-template-grid li h3 {
  max-width: calc(100% - 1rem);
  @apply leading-6;
}

.post-template-grid li img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.slanted {
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
}

#team-gallery figure {
  position: relative;
}

#team-gallery figure figcaption {
  position: absolute;
  background: inherit;
  font-size: 1rem;
  bottom: 0.5rem;

  right: 1.5rem;
  transform: rotate(-1deg);
}

/* POSTS & PAGES */

.is-style-button-retro .wp-block-button__link,
.blog .entry-content a {
  @apply shadow-retro;
}

.is-style-button-rounded .wp-block-button__link {
  @apply rounded-full;
}

.wp-block-button__link:hover {
  @apply text-secondary bg-white transition-colors duration-200;
}

.wp-block-button.bg-primary-default:hover {
  @apply bg-transparent;
}

.wp-block-button.bg-primary-default:hover > .wp-block-button__link {
  @apply bg-transparent;
}

.blog article img {
  aspect-ratio: 4/3;
}

/* POST NAVIGATION STYLES */

.post-navigation .nav-links {
  @apply w-11/12 md:w-3/4 mx-auto my-8 flex justify-between;
}

/* .nav-previous,
.nav-next {
  @apply w-2/5;
} */
.nav-previous a,
.nav-next a {
  @apply bg-offset shadow-retro px-2 py-1 border border-current flex items-center hover:bg-white;
}

.nav-next {
  @apply ml-auto;
}

/* MOBILE NAVIGATION */

[aria-expanded='true'] + .menu-primary-menu-container > ul#primary-menu {
  transform: translateY(0%);
  transition: 250ms;
}

/* WP FORMS OVERRIDES */

form.wpforms-form {
  @apply bg-white p-6 rounded-md shadow-md;
}

input[type='text'],
input[type='email'],
textarea {
  @apply border py-1 px-3 my-1 border-gray-300 bg-gray-50 rounded-sm;
}

.wpforms-form button[type='submit'] {
  box-shadow: 2px 2px 0 0 currentColor;
  @apply bg-yellow-300 px-3 py-1 border-2 border-current;
}
